
.input-group-rounded .input-group-field {
    border-radius: 500px 0 0 500px;
    padding-left: 1rem;
}

.input-group-rounded .input-group-button .button {
    border-radius: 0 500px 500px 0;
    font-size: 0.8rem;
}

